{% extends 'recommendationBase.html' %}

{% block content %}
 <img src="../static/assets/img/click.jpg" width="500" height="300" alt="" align="right">
   <p>Home: {{ home }} <p>
   <p> Destination: {{ destination }} </p>
   <p> Inbound Date: {{ date1 }}</p>
   <p> Outbound Date: {{ date2 }}</p>
   <p> Home Airport: {{ home_airport }}</p>
   <p> Destination Airport: {{ destination_airport }}</p>
   <p> Hotel Location: {{ hotel_location }}</p>
   <p> To Do Location: {{ todo_location }}</p>
   <p> Results: {{ todo_results }}</p>
   <center>
   <img src="../static/assets/img/photo.jpg" width="474" height="274" alt="">
   </center>

{% endblock %}  