
#recommendorNav {
    width:20%;
    float:left;
    margin: 0px;
    padding: 5px;
}

.navChildDiv {
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    background-color: lightblue;
}

a:hover{
    background-color:yellow;
}