<!DOCTYPE html>
<html>
<body>

<h1>Travel Recommender Main Page</h1>

<p>Team Echo's Get Out And See The World Project</p>

<a href="../best_airports">Best Airports</a>
<p></p>

<form action="/action_page.php">
  <label for="destination">Where Are You Going?</label>
  <input type="text" id="destination" name="destination"><br><br>
  <label for="depart">Departing Date (mm/dd/yy): </label>
  <input type="text" id="depart" name="depart"><br><br>
  <label for="return">Returning Date (mm/dd/yy): </label>
  <input type="text" id="return" name="return"><br><br>

  <input type="submit" value="Get Your Recommendations!" formaction="../itinerary">
</form>

</body>
</html>