<div id="recommendorNav" class="navParent">
    <div class="navChildDiv">
        <p class="menuText">
            <a href="/">Home</a>
        </p>
    </div>
    <div class="navChildDiv">
        <p class="navText">
            <a href="/flights/">Flights</a>
        </p>
    </div>
    <div class="navChildDiv">
        <p class="navText">
            <a href="/recommendations/lodging/">Lodging</a>
        </p>
    </div>
    <div class="navChildDiv">
        <p class="navText">
            <a href="/recommendations/restaurants/">Restaurants</a>
        </p>
    </div>
    <div class="navChildDiv">
        <p class="navText">
            <a href="/recommendations/attractions/">Attractions</a>
        </p>
    </div>
</div>