<!DOCTYPE html>
<html>
<body>

<h1>Perhaps Here Are The Airports</h1>

<p>Maybe list or make a table of </p>
<p>Delay percentages, number of restaurants, </p>
<p>Parking to gate times... etc</p>


<a href="https://www.google.com/search?source=hp&ei=KTaDX_vWOeeE9PwP66y1yAY&q=how+to+tie+SQL+to+HTML&oq=how+to+tie+SQL+to+HTML&gs_lcp=CgZwc3ktYWIQAzIICCEQFhAdEB4yCAghEBYQHRAeMggIIRAWEB0QHjIICCEQFhAdEB4yCAghEBYQHRAeMggIIRAWEB0QHjoOCC4QsQMQxwEQowIQkwI6CAguELEDEIMBOggIABCxAxCDAToFCAAQsQM6CwguELEDEMcBEKMCOgIIADoFCAAQyQM6AgguOggIABCxAxDJAzoFCC4QsQM6BQghEKsCOgUIIRCgAVD2ZVi0kAFgrpcBaAFwAHgBgAHoAogB0RaSAQc5LjkuMi4ymAEAoAEBqgEHZ3dzLXdperABAA&sclient=psy-ab&ved=0ahUKEwi7j-aJ_qzsAhVnAp0JHWtWDWkQ4dUDCAk&uact=5">Link to figure out how to use SQL with HTML</a>

</body>
</html>